<%= form_for @supplier do |f| %>
  <% if @supplier.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@supplier.errors.count, "error") %> prohibited
      this supplier from being saved:</h2>
    <ul>
    <% @supplier.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
  <% end %>
  <div class="form-group">
    <%= f.label :name, { class: 'control-label' } %><br>
    <%= f.text_field :name, { class: 'form-control' } %>
  </div>

  <div class="form-group">
    <%= f.label :phone, { class: 'control-label' } %><br>
    <%= f.text_area :phone, { class: 'form-control' } %>
  </div>

  <%= f.submit 'Save', :class => 'btn btn-default' %>
<% end %>
