<!DOCTYPE html>
<html>
<head>
  <title>Lili</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <style type="text/css">
    body { padding-top: 20px; padding-bottom: 20px; }
    .logo-img { margin-left: 20px; }
  </style>
</head>
<body>
    <div class="container">
        <div class="top-header">
          <ul class="nav nav-pills pull-right menu">
              <li class="<%= controller.class == WelcomeController ? 'active' : '' %>"><%= link_to 'Home', '/' %></li>
              <li class="<%= controller.class == ProductsController ? 'active' : '' %>"><%= link_to 'Products', controller: 'products' %></li>
              <li class="<%= controller.class == SuppliersController ? 'active' : '' %>"><%= link_to 'Suppliers', controller: 'suppliers' %></li>
              <li class="<%= controller.class == OrdersController ? 'active' : '' %>"><%= link_to 'Orders', controller: 'orders' %></li>
          </ul>
          <%= image_tag "logo.png", :class => "logo-img" %>
        </div>
        <hr>
        <%= yield %>
    </div>
</body>
</html>
