<!DOCTYPE html>
<html>
<head>
  <title>Lili</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <style type="text/css">
    .centered-pills { text-align:center; }
    .centered-pills ul.nav.nav-pills, .centered-pills ul.nav.nav-tabs { display:inline-block; }
    .centered-pills ul.nav.nav-pills li, .centered-pills ul.nav.nav-tabs li { display:inline; }
  </style>
</head>
<body>
    <div class="page-header container centered-pills">
        <ul class="nav nav-pills">
            <li class="active"><%= link_to 'Home', '/' %></li>
            <li><%= link_to 'Products', controller: 'products' %></li>
            <li><%= link_to 'Suppliers', controller: 'suppliers' %></li>
            <li><%= link_to 'Orders', controller: 'orders' %></li>
        </ul>
    </div>

<%= yield %>

</body>
</html>
