<%= form_for @order do |f| %>
  <% if @order.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@order.errors.count, "error") %> prohibited
      this order from being saved:</h2>
    <ul>
    <% @order.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
  <% end %>
  <table id="items" class="table">
    <thead>
      <tr>
        <th class="col-md-2 text-center">Product</th>
        <th class="col-md-1 text-center">Size</th>
        <th class="col-md-1 text-center">Quantity</th>
        <th class="col-md-1 text-center">Unit cost</th>
        <th class="col-md-1"></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><div class="col-centered"><select name="product" class="product-select form-control"><%= options_from_collection_for_select(Product.all, :id, :title) %></select></div></td>
        <td><div class="col-xs-6 col-centered"><input name="size" type="text" class="form-control" /></div></td>
        <td><div class="col-xs-6 col-centered"><input name="amount" type="text" class="form-control" /></div></td>
        <td><div class="col-xs-7 col-centered"><input name="cost" type="text" class="form-control" /></div></td>
        <td>
          <button type="button" class="add-item btn btn-default">
            <i class="glyphicon glyphicon-plus"></i>
          </button>
          <button type="button" class="remove-item btn btn-default">
            <i class="glyphicon glyphicon-minus"></i>
          </button>
        </td>
      </tr>
    </tbody>
  </table>

  <%= f.submit 'Save', :class => 'btn btn-default' %>
<% end %>
