<h1>
  Listing orders
  <a class="btn btn-large btn-success" href="<%= new_order_path %>"><span class="glyphicon glyphicon-plus"></span></a>
</h1>

<table class="table table-striped">
  <tr>
    <th>Date</th>
    <th>Items</th>
    <th></th>
  </tr>
  <% if @orders.each do |order| %>
    <tr>
      <td><%= order.created_at %></td>
      <td><%= order.items.length %></td>
      <td><%= link_to 'Show', product_path(product) %></td>
    </tr>
  <% end.empty? %>
    <td colspan="3">You have no pending orders. <%= link_to 'Create one!', new_order_path %></td>
  <% end %>
</table>
